.idea/
venv/
.installed
*.pyc
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/values/one-value/my-auth/keys.private.json
/values/test-ns/my-auth/keys.private.json
/values/test-ns/my-auth/user.name.txt
/values/test-ns/my-auth/user.password.txt
/values/test-ns/my-auth/user.id.txt
/values/test-ns/one-secret-gen/user.name.txt
/values/test-ns/one-secret-gen/user.password.txt
/values/test-ns/one-secret-gen/user.id.txt
/values/test-ns/my-auth/keystore.jks
/values/test-ns/my-auth/keystore.password
